:root {
  --primary-color: #c20a0a;
  --secondary-color: #ffff;
  --darkRed-color: #270000;
  --black-color: rgb(0, 0, 0);
  --gray-color: #202020;
}


body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade {
  opacity: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Orbitron";
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing: 3px;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  font-family: "Orbitron";
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.dropdown-menu {
  border: 3px solid var(--gray-color);
  padding: 2px;
}

.dropdown-item {
  color: var(--secondary-color);
  padding: 5px 3px;
}

.dropdown-item:hover {
  color: var(--secondary-color);
  background-color: var(--gray-color);
  border-bottom: 1px solid var(--primary-color);
}
@media  screen and (max-width: 575px) {
  .collapse {
    background-color: var(--darkRed-color);
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--secondary-color);
    margin: 2rem 0rem;
  }
}

.row-content {
  padding-top: 400px;
}

@media screen and (max-width: 575px) {
  .row-content {
    padding-top: 130px;
  }
}

.site-footer {
  background-image: linear-gradient(to right, rgb(5, 5, 5), rgb(41, 37, 37), rgb(5, 5, 5));
  border-top: 3px solid var(--secondary-color);
}

.bg-welcome {
  background-image: url('/assets/main-img1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.welcome-name {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 6px;
}

.hobby-header {
  margin-top: 30px;
}

.hobby-title {
  color: var(--primary-color);
  padding-bottom: 3rem;
}

.list-title {
  color: var(--primary-color);
  border-bottom: 5px solid var(--darkRed-color);
  border-left: 5px solid var(--primary-color);
  padding: 10px;
  width: 20rem;
}

.list-text {
  padding: 10px 0;
  text-indent: 4rem;
}

.bg-background{
  background-color: var(--black-color);
}

.bg-card {
  box-shadow: 0px 0px 10px var(--secondary-color);
  border-radius: 30px;
  background-color: transparent;
}

.card-header {
  border-bottom: 3px solid var(--secondary-color);
}

.card-title {
  color: var(--primary-color);
  text-align: center;
}

.skills-title {
  color: var(--primary-color);
}

.jumbotron {
  background-image: linear-gradient(to bottom, rgb(39, 0, 0), rgb(0, 0, 0));
  box-shadow: 0px 0px 10px var(--secondary-color);
  border-radius: 30px;
}

@media screen and (max-width: 575px ) {
  .skills-text {
    font-size: 1rem;
  }
}

.bg-carousel {
  background-color: var(--black-color);
}

.carouselIcons {
  padding: 0px 10px;
}

.git-hubIcon1 {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
}
.git-hubIcon1:hover {
  box-shadow: 0px 16px 32px 0 rgba(255, 0, 0, 0.4);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.git-hubIcon2 {
  background-color: rgba(255, 196, 0, 0.2);
  border-radius: 50%;
}
.git-hubIcon2:hover {
  box-shadow: 0px 16px 32px 0 rgba(255, 196, 0, 0.2);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.git-hubIcon3 {
  background-color: rgba(0, 17, 255, 0.2);
  border-radius: 50%;
}
.git-hubIcon3:hover {
  box-shadow: 0px 16px 32px 0 rgba(0, 17, 255, 0.2);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.git-hubIcon4 {
  background-color: rgba(204, 0, 255, 0.2);
  border-radius: 50%;
}
.git-hubIcon4:hover {
  box-shadow: 0px 16px 32px 0 rgba(204, 0, 255, 0.2);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.link-icon1 {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
}
.link-icon1:hover {
  box-shadow: 0px 16px 32px 0 rgba(255, 0, 0, 0.4);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.link-icon2 {
  background-color: rgba(255, 196, 0, 0.2);
  border-radius: 50%;
}
.link-icon2:hover {
  box-shadow: 0px 16px 32px 0 rgba(255, 196, 0, 0.2);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.link-icon3 {
  background-color: rgba(0, 17, 255, 0.2);
  border-radius: 50%;
}
.link-icon3:hover {
  box-shadow: 0px 16px 32px 0 rgba(0, 17, 255, 0.2);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}
.link-icon4 {
  background-color: rgba(204, 0, 255, 0.2);
  border-radius: 50%;
}
.link-icon4:hover {
  box-shadow: 0px 16px 32px 0 rgba(204, 0, 255, 0.2);
  background-color: var(--secondary-color);
  transform: scale(1.1);
  transition: all 0.5s linear;
}

.workCarousel-title1 {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
}
.workCarousel-title2 {
  background-color: rgba(255, 196, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
}
.workCarousel-title3 {
  background-color: rgba(0, 17, 255, 0.2);
  border-radius: 50px;
  padding: 5px;
}
.workCarousel-title4 {
  background-color: rgba(204, 0, 255, 0.2);
  border-radius: 50px;
  padding: 5px;
}
.carousel-btn {
  color: var(--primary-color)!important;
}




