:root {
  --primary-color: #c20a0a;
  --secondary-color: #ffff;
  --darkRed-color: #270000;
  --gray-color: #202020;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to bottom, rgb(24, 24, 24), rgb(3, 3, 3));
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade {
  opacity: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Orbitron";
  font-weight: bold;
  color: var(--secondary-color);
  letter-spacing: 3px;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  font-family: "Orbitron";
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.dropdown-menu {
  border: 3px solid var(--gray-color);
  padding: 2px;
}

.dropdown-item {
  color: var(--secondary-color);
  padding: 5px 3px;
}

.dropdown-item:hover {
  color: var(--secondary-color);
  background-color: var(--gray-color);
  border-bottom: 1px solid var(--primary-color);
}

.row-content {
  padding-top: 400px;
}

@media screen and (max-width: 575px) {
  .row-content {
    padding-top: 130px;
  }
}

.site-footer {
  background-image: linear-gradient(to right, rgb(5, 5, 5), rgb(41, 37, 37), rgb(5, 5, 5));
  border-top: 3px solid var(--secondary-color);
}

.bg-welcome {
  background-image: url('/assets/main-img1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.welcome-name {
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 6px;
}
.about-box {
  background-image: linear-gradient(to bottom, rgb(39, 0, 0), rgb(0, 0, 0));
  border: 3px solid var(--gray-color);
}

.about-title {
  text-align: center;
  border-left: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
}

.hobby-header {
  margin-top: 30px;
}

.hobby-title {
  color: var(--primary-color);
  padding-bottom: 3rem;
}

.list-title {
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
  border-left: 5px solid var(--primary-color);
  padding: 10px;
  width: 25rem;
}

.list-text {
  padding: 10px 0;
  text-indent: 4rem;
}

.bg-card {
  background-color: transparent;
}

.card {
  border: 4px solid var(--darkRed-color);
  box-shadow:0px 0px 20px var(--darkRed-color);
}

.card-header {
  border-bottom: 3px solid var(--secondary-color);
}

.card-title {
  color: var(--primary-color);
  text-align: center;
}

.skills-title {
  color: var(--primary-color);
}

.jumbotron {
  background-image: linear-gradient(to bottom, rgb(39, 0, 0), rgb(0, 0, 0));
}

@media screen and (max-width: 575px ) {
  .skills-text {
    font-size: 1rem;
  }
}

.project-header {
  background-color: var(--darkRed-color);
}

.currentCard {
  background-color: var(--darkRed-color);
  border: 3px solid var(--secondary-color);

}




